body{
    margin: 0 auto;
    max-width: 50em;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height:1.5;
    padding:4em 1em;
    color:#566b78;
}

h2{
    margin-top: 1em;
    padding-top: 1em;
}

h1,
h2,
strong{
    background: #f5f7f9;
    color: #a7adba;
}

code,

code{
    padding: 2px 4px;
    vertical-align: text-bottom;
}

pre{
}

a{
    color: #e81c4f;
}

[class^=ref-node-], .ref-fragment{
    padding: 1em;
    border-left: 2px solid #69c;
    line-height:1.3;
    font-size: 0.9em;
    font-style: italic;
}

.ref-node-1{ background: #eee; color: #777;}
.ref-node-2{ background: #ddd; color: #666;}
.ref-node-3{ background: #ccc; color: #555;}
.ref-node-4,
.ref-node-5{ background: #bbb; color:#444;}

.reply{
    color: #273e4f;
    font-size: 1.0em;
    padding: 1em;
}

.ref-fragment{
    background: #eee; color:#888;
}
p.reply-text{
    padding-top:4px;
}
.nav{
    font-size: 0.9em;
    padding:0.5em 1em;
    background: #efefef;
}
.nav li{
    list-style-type: none;
}

.next-part{
    font-size:0.9em;
    color:#999;
    padding-left: 1em;
}


